################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Broker.Xapi2/obj/Debug
/FreeQuant.Console/bin/Debug
/FreeQuant.Console/obj/Debug
/FreeQuant.DataReceiver/bin/Debug
/FreeQuant.DataReceiver/obj/Debug
/FreeQuant.Framework/obj/Debug
/FreeQuant.UI/obj/Debug
/packages
/Broker.Xapi2/bin
/Broker.Xapi2/obj/Release
/FreeQuant.Console/obj/Release
/FreeQuant.DataReceiver/bin/Release
/FreeQuant.DataReceiver/obj/Release
/FreeQuant.Framework/bin
/FreeQuant.Framework/obj/Release
/FreeQuant.UI/bin
/FreeQuant.UI/obj/Release
/Strategy.Demo/obj/Release
/UnitTest/obj/Release
/UnitTest/obj/Debug/build.force
/.vs/FreeQuant/v15/Server/sqlite3
